/* PRESENTACION */
.card {
    border-radius: 0.5rem;
    box-shadow:0 2px 5px;
    background-color: white;
}

.center{
    display: flex;
    justify-content: center;
}

.m{
    margin-top: 1rem;
}

.m-center{
    margin: 0 auto;
}

.w-50{
    width: 50%;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.w-100{
    width: 100%;
}

.p-vertival{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.m-vertival{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* ALINEACION */

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

@media (max-width:468px){
    h3{
        font-size: 1rem;
    }

    .w-50{
        width: 90%;
    }
}

@media (min-width:469px) and (max-width:768px){
    h3{
        font-size: 1.25rem;
    }
}