<template>
    <div class="card center flex-col w-50 m-center">
        <h3 class="center">Insertar una nueva solicitud</h3>
        <lightning-record-edit-form object-api-name={object} onsuccess={createdCase} onerror={noCreatedCase}>
            <lightning-messages></lightning-messages>
            
            <lightning-input-field field-name={masterField.apiName} required={masterField.required} onchange={typeChanged}></lightning-input-field>

            <template for:each={dependedFields} for:item="field">
                <lightning-input-field key={field.apiName} field-name={field.apiName} required={field.required} onchange={fieldChanged}></lightning-input-field>
            </template>

            <div class="w-100 center m-vertival">
                <lightning-button label="Añadir Solicitud Cases" onclick={createApplicationJS}></lightning-button>
            </div>
        </lightning-record-edit-form>
    </div>
</template>