<template>
    <div class="p-vertival">
        <div class="center">
            <img class="logo" src={comunityLogo}>
        </div>
        <template if:true={toastMessage}>
            <div class="card w-50 m-center toast" style={opacityStyle}>
                {toastMessage}
            </div>
        </template>
        <template if:false={regSuccess}>
            <div class="card m-center">
                <template for:each={fields} for:item="field">
                    <template if:true={field.required}>
                        <lightning-input key={field.apiName} placeholder={field.label} label={field.label} data-input={field.label} onchange={inputChange} required></lightning-input>
                    </template>
                    <template if:false={field.required}>
                        <lightning-input key={field.apiName} placeholder={field.label} label={field.label} data-input={field.label} onchange={inputChange}></lightning-input>
                    </template>
                </template>
                <div class="center m">
                    <lightning-button class="button" label="Sign Up" title="Sign Up" onclick={handleClick}></lightning-button>
                </div>
            </div>
        </template>
        <template if:true={regSuccess}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Exito</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium center" id="modal-content-id-1">
                        <p><b>El registro se ha realizado con exito.
                        </b></p>
                        <p><b> Compruebe su Email para ver el correo de confirmación
                        </b></p>
                    </div>
                    <footer class="slds-modal__footer center">
                        <a href="https://lineaindirectasheredia-developer-edition.eu44.force.com/s/login/"><button class="slds-button slds-button_brand" title="OK">Aceptar</button></a>
                    </footer>
                </div>
            </section>
        </template>
    </div>
</template>