@import 'c/cssLibrary';

.logo{
    width: 16rem;
    height: 16rem;
    margin: .25rem;
}

.toast{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}